* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#image {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#image .img_container {
  width: calc(25% - 20px);
  height: 410px;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;

}
#image .img_container img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
  z-index: 44;
}
#image .previewBody {
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 545;
}
#image .previewBody.active{
    visibility: visible;
    opacity: 1;
}
#image .previewBody .previewImage {
  width: 350px;
}
#image .previewBody .previewImage img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}
#image .cross {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: #000;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s ease;
}
#image .cross:hover {
  transform: rotate(360deg);
  outline: 1px solid #000;
  color: #000;
  background: transparent;
}

#image .next{
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    height: 50px;
    width: 35px;
    position: absolute;
    right: 30%;
    cursor: pointer;
    border-radius: 5px;
}
.prev{
   background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    height: 50px;
    width: 35px;
    position: absolute;
    left: 30%;
    cursor: pointer;
    border-radius: 5px;

}
#image .next:hover{
    background: transparent;
    color: #000;
    outline: 1px solid #000;
}